@import "tailwindcss";

@theme {
  --font-tajawal: "Tajawal", sans-serif;
}

:root {
  --font-sans: "Tajawal", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: 'Tajawal', sans-serif;
  background-color: #020617; /* Deep Navy/Slate-950 */
  -webkit-tap-highlight-color: transparent;
  color: #f8fafc;
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 10px;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@keyframes shimmer {
  100% { transform: translateX(100%); }
}

.floating {
  animation: float 3s ease-in-out infinite;
}
